OpenVAS _ Zammad + Discord ( LAB).json
{
  "name": "OpenVAS > Zammad + Discord ( LAB)",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "resource": "ticket",
        "title": "=Title: Vulnerabilidade crítica em {{$json[\"IP\"]}}",
        "group": "SOC",
        "customer": "openvas@williamweber.com",
        "article": {
          "articleDetails": {
            "subject": "=Vulnerabilidade {{$json.cve}}",
            "body": "=Host: {{$json[\"IP\"]}}\nFQDN: (não disponível)\nServiço: (não disponível)\nCVE: {{$json[\"CVEs\"]}}\nSeveridade (CVSS): {{$json[\"CVSS\"]}} ({{$json[\"Severity\"]}})\nPlugin: {{$json[\"NVT Name\"]}}\nDescrição: {{$json[\"Summary\"]}}\nEvidência: {{$json[\"Solution\"]}}"
          }
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.zammad",
      "typeVersion": 1,
      "position": [
        1488,
        -288
      ],
      "id": "ad1fa205-02ac-4b15-bcf5-f7e7e408e420",
      "name": "Abre Chamado",
      "credentials": {
        "zammadBasicAuthApi": {
          "id": "zJ2X7hCHNBoYwbrc",
          "name": "Zammad Basic Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "url-discord",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚨 Vulnerabilidade crítica detectada em {{$json[\"IP\"]}}!"
            },
            {
              "name": "embeds[0].title",
              "value": "={{$json.cve}}"
            },
            {
              "name": "embeds[0].description",
              "value": "=Host: {{$json[\"IP\"]}}\nSeveridade: {{$json[\"CVSS\"]}} ({{$json[\"Severity\"]}})\n{{$json[\"Summary\"]}}\n"
            },
            {
              "name": "embeds[0].color",
              "value": "=15158332"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -96
      ],
      "id": "ee5b7ae6-8ef0-4c08-9f33-b5b70fb3aca9",
      "name": "Alerta Discord"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openvas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        -192
      ],
      "id": "6a65c854-d257-4431-bda5-c27f3176132c",
      "name": "Recebe Scan",
      "webhookId": "bb47b188-5e69-4154-a66d-da24e83e76f1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2eed98ca-cc59-420d-b911-eefd15609e40",
              "leftValue": "={{ $json[\"CVSS\"] }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        -192
      ],
      "id": "420d3123-c7e4-4301-8f7c-3a8e04ed6d17",
      "name": "Filter CVSS > 7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        -192
      ],
      "id": "e6127383-5b13-4eba-ba8b-a7aa5fcbd489",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aabc431f-3a8f-4c1d-94f5-8f82c1255099",
              "name": "IP",
              "value": "={{$json[\"IP\"]}}",
              "type": "string"
            },
            {
              "id": "841672fd-92e5-4b3b-a20c-2a964a44394d",
              "name": "CVSS",
              "value": "={{$json[\"CVSS\"]}}",
              "type": "string"
            },
            {
              "id": "2e32211f-c031-4614-bdc6-d7566da76f17",
              "name": "Severity",
              "value": "={{$json[\"Severity\"]}}",
              "type": "string"
            },
            {
              "id": "59c045cd-5632-49a5-b0e5-92e8192d5d4d",
              "name": "NVT Name",
              "value": "={{$json[\"NVT Name\"]}}",
              "type": "string"
            },
            {
              "id": "1163767a-f30c-467e-a715-c3c8f1db9470",
              "name": "Summary",
              "value": "={{$json[\"Summary\"]}}",
              "type": "string"
            },
            {
              "id": "2f17202b-a07d-483e-ac8b-0d2b0d4f8f9e",
              "name": "Solution",
              "value": "={{$json[\"Solution\"]}}",
              "type": "string"
            },
            {
              "id": "a324044d-0599-4689-9af5-3188159d7643",
              "name": "CVEs",
              "value": "={{$json[\"CVEs\"]}}",
              "type": "string"
            },
            {
              "id": "c6254fd2-d200-416a-9ae2-6ddd421f7158",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -192
      ],
      "id": "9a68a67f-4c1e-4e5a-b096-0bdee73a92f1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Abre Chamado": {
      "main": [
        []
      ]
    },
    "Recebe Scan": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter CVSS > 7": {
      "main": [
        [
          {
            "node": "Abre Chamado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alerta Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter CVSS > 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd70dc0f-ae80-4ee4-986f-215f26770cdf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "694f44cda20126d55f2d2bc7c37dc8b21af9750f61838f47faa5ed4379f7f4f3"
  },
  "id": "u4QdBYFwSZi640wx",
  "tags": []
}